<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Selejtezés.Properties.Settings.ScaCompDBConnectionString"
            connectionString="Data Source=SCALA1;Initial Catalog=ScaCompDB;Persist Security Info=True;User ID=termelesmonitor;Password=TERM123"
            providerName="System.Data.SqlClient" />
        <add name="Selejtezés.Properties.Settings.FusetechConnectionString"
            connectionString="Data Source=SCALA1;Initial Catalog=Fusetech;Persist Security Info=True;User ID=termelesmonitor;Password=TERM123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
